<div class="row g-5 mb-5">
    {% if page.title == "Home" %}
   <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Selected papers</h3>
      {% for item in site.data.papers.selected %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    <div>    
    {% else %}
    </div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Working papers</h3>
      {% for item in site.data.papers.working %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    <div>
    <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Published papers</h3>
    {% for item in site.data.papers.published %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
    {% endfor %}
    <div>
    {% endif %}
</div>
